.tabs{
    display: flex;
    justify-content: space-around; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;

}

p {
    line-height: 1.5;
  }
  

body {
    padding: 0;
    margin: 0;
  }


[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}


.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: #CCC;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

.fig1 {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.fig1 img {
    display: flex;
    width: 300px;      
    height: auto; 
}
.fig1 figcaption {
    max-width: 300px;  
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: 8px;
  }

.fig2 {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.fig2 img {
    display: flex;
    width: 70%;      
    height: auto;     
  }
  
  .fig2 figcaption {
    max-width: 50%;  
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: 8px;
  }
/*.fig { border: 2px solid red; }
.fig img { border: 2px solid blue; }
.fig figcaption { border: 2px solid green; }

  
